.todo-list {
    max-width: 400px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

.todo-list h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #e90303;
    border-radius: 4px;
    margin-right: 10px;
}

.input-container button {
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #218838;
}

.todo-list ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo-list li.completed span {
    text-decoration: line-through;
    color: #888;
}

.todo-list li span {
    cursor: pointer;
}

.todo-list li button {
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.todo-list li button:hover {
    background-color: #c82333;
}
